<div class="row mt-5">
  <div class="col-md-5">
    <img src="/assets/images/Pays_basque.jpg" height="600" alt="">
    <br>
    <h2>Pays basque</h2>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
    <img src="/assets/images/Morne.jpg" height="600" alt="">
    <br>
    <h2>Le Morne (Île Maurice)</h2>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-5">
    <img src="/assets/images/Mauritius.jpg" height="600" alt="">
    <br>
    <h3>Gorges de Rivière Noire <br> (Île Maurice)</h3>
  </div>
</div>
